/* hide popup */
body .tp-modal {
  display: none !important;
}

/* remove gray background */
body .tp-backdrop {
  display: none !important;
}

/* restore scroll */
body.tp-modal-open {
  overflow: auto !important;
  height: auto;
  position: unset !important; /* for mobile devices */
}
